.contact-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
  background-color: #f9fbfc;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Libertinus Math", system-ui;
  margin-bottom: 70px;
}

.contact-form h2 {
  text-align: center;
  font-size: 2rem;
  color: #263238;
  margin-bottom: 1rem;
}

.contact-form p {
  text-align: center;
  font-size: 1.04rem;
  color: #555;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #263238;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #f75b4f;
  outline: none;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #f75b4f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover {
  background-color: #e84d3e;
}

.error {
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 1.5rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  button[type="submit"] {
    font-size: 0.9rem;
  }
}
